.btn{
    position: relative;
    display: flex;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.6s ease-in-out ;
}

.btn:hover{
    transform: scale(1.1);

}

.btn:active{
    transform: scale(1.04);
}

.btn{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}