:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}

.btn.primera {
    background: var(--bg-primera) ;
    color: white;
    border: 1px solid white;

}

.btn.primera:hover{
    background: #1780E9;

}

.btn.primera.active:active{
    background: #fff;
    color: black;

}





.btn.peligro {
    background: var(--bg-peligro) ;
    color: white;
    border: 1px solid black;

}

.btn.peligro:hover{
    background: #EF1919;

}

.btn.peligro.active:active{
    background: #fff;
    color: black;

}



.btn.advertencia {
    background: var(--bg-advertencia) ;
    color: black;
    border: 1px solid black;

}

.btn.advertencia:hover{
    background: #F6CD13;

}

.btn.advertencia.active:active{
    background: #fff;
    color: black;

}




.btn.ligera {
    background: var(--bg-ligera) ;
    color: black;
    border: 1px solid black;

}

.btn.ligera:hover{
    background: #fff;

}

.btn.ligera.active:active{
    background: #000;
    color: white;
    border: 1px solid white;


}







.btn.oscura {
    background: var(--bg-oscura) ;
    color: white;
    border: 1px solid black;

}

.btn.oscura:hover{
    background: #000;
}

.btn.oscura.active:active{
    background: #fff;
    color: #000;
    border: 1px solid black;


}




.btn.valida {
    background: var(--bg-valida) ;
    color: white;
    border: 1px solid white;

}

.btn.valida:hover{
    background: #31CF54;
}

.btn.valida.active:active{
    background: #fff;
    color: #000;
    border: 1px solid black;


}

