.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-blend-mode: multiply;
    z-index: 4;
    cursor: pointer;
}

.contour{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    z-index: 1;
    clip-path: circle();
    background-blend-mode: overlay;
}

.avatar:hover{
    background-blend-mode: hard-light;
}
