:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}


.avatar.primera{
    background-color: var(--bg-primera);
}
.avatar.peligro{
    background-color: var(--bg-peligro);
}
.avatar.advertencia{
    background-color: var(--bg-advertencia);
}
.avatar.valida{
    background-color: var(--bg-valida);
}
.avatar.oscura{
    background-color: var(--bg-oscura);
}
.avatar.ligera{
    background-color: var(--bg-ligera);
}




.contour.primera{
    background-color: var(--bg-primera);
}
.contour.peligro{
    background-color: var(--bg-peligro);
}
.contour.advertencia{
    background-color: var(--bg-advertencia);
}
.contour.valida{
    background-color: var(--bg-valida);
}
.contour.oscura{
    background-color: var(--bg-oscura);
}
.contour.ligera{
    background-color: var(--bg-ligera);
}
