.search-bar{
    position: relative;
    width: 200px;
    height: 40px;
    margin: 10px;
    font: 1em sans-serif;
}

.search-datas{
    position: relative;
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.datas-container{
    width: 200px;
    height: 400px;
    overflow: hidden;
    margin: 7px;
    overflow: scroll;
    overflow-x: hidden;
}