:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}


.search-bar.primera{
    
    border: 4px solid var(--bg-primera);
    color: var(--bg-primera);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-bar.peligro{
    
    border: 4px solid var(--bg-peligro);
    color: var(--bg-peligro);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.search-bar.advertencia{
    
    border: 4px solid var(--bg-advertencia);
    color: var(--bg-advertencia);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-bar.ligera{
    
    border: 4px solid var(--bg-ligera);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.search-bar.oscura{
    
    border: 4px solid var(--bg-oscura);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-bar.valida{
    
    border: 4px solid var(--bg-valida);
    color: var(--bg-valida);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}




/* datacontainer */

.datas-container::-webkit-scrollbar{
    background: none;
}

