.avatar02{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-blend-mode: overlay;
    z-index: 4;
    cursor: pointer;
    clip-path: polygon(0% 100%, 0% 1%, 50% 20%, 100% 1%, 100% 100%);
    transition: all ease-in-out 0.5s;
}

.avatar02:hover{
    transform: scale(1.05);
}