:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}





.avatar02.primera{
    border: 1px solid var(--bg-primera);
}


.avatar02.peligro{
    border: 1px solid var(--bg-peligro);
}


.avatar02.valida{
    border: 1px solid var(--bg-valida);
}


.avatar02.ligera{
    border: 1px solid var(--bg-ligera);
}


.avatar02.oscura{
    border: 1px solid var(--bg-oscura);
}


.avatar02.advertencia{
    border: 1px solid var(--bg-advertencia);
}


