.input-01[type=text] {
    position: relative;
    width: 80%;
    height: 40px;
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
  }

.input-01[type=text]:focus {
    width: 100%;
  }


.input-01[type=password] {
    position: relative;
    width: 80%;
    height: 40px;
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
  }

.input-01[type=password]:focus {
    width: 100%;
  }





  .input-01[type=submit] {
    display: flex;
    position: relative;
    width: 30%;
    height: 50px;
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
    font: 15px sans-serif;
    font-weight: 600;
  }


  .input-01[type=submit]:hover {
    width: 40%;
  }