:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}



.input-01[type=submit].primera {
    border: 2px solid var(--bg-primera);    
    background: var(--bg-primera);
  }

  
.input-01[type=submit].peligro {
    border: 2px solid var(--bg-peligro);    
    background: var(--bg-peligro);
  }

.input-01[type=submit].advertencia {
    border: 2px solid var(--bg-advertencia);    
    background: var(--bg-advertencia);
  }

.input-01[type=submit].ligera {
    border: 2px solid var(--bg-ligera);    
    background: var(--bg-ligera);
    color: black;
  }

.input-01[type=submit].oscura {
    border: 2px solid var(--bg-oscura);    
    background: var(--bg-oscura);
    color: white;
  }

.input-01[type=submit].valida {
    border: 2px solid var(--bg-valida);    
    background: var(--bg-valida);
  }









.input-01[type=text].primera {
    border: 2px solid var(--bg-primera);    
  }

  
.input-01[type=text].peligro {
    border: 2px solid var(--bg-peligro);    
  }

.input-01[type=text].advertencia {
    border: 2px solid var(--bg-advertencia);    
  }

.input-01[type=text].ligera {
    border: 2px solid var(--bg-ligera);    
    color: black;
  }

.input-01[type=text].oscura {
    border: 2px solid var(--bg-oscura);    
    color: white;
  }

.input-01[type=text].valida {
    border: 2px solid var(--bg-valida);    
  }







.input-01[type=text].primera.fill {
    border: 2px solid var(--bg-primera);    
    background: var(--bg-primera);
  }

  
.input-01[type=text].peligro.fill {
    border: 2px solid var(--bg-peligro);    
    background: var(--bg-peligro);
  }

.input-01[type=text].advertencia.fill {
    border: 2px solid var(--bg-advertencia);    
    background: var(--bg-advertencia);
  }

.input-01[type=text].ligera.fill {
    border: 2px solid var(--bg-ligera);    
    background: var(--bg-ligera);
    color: black;
  }

.input-01[type=text].oscura.fill {
    border: 2px solid var(--bg-oscura);    
    background: var(--bg-oscura);
    color: white;
  }

.input-01[type=text].valida.fill {
    border: 2px solid var(--bg-valida);    
    background: var(--bg-valida);
  }












.input-01[type=password].primera {
    border: 2px solid var(--bg-primera);    
  }

  
.input-01[type=password].peligro {
    border: 2px solid var(--bg-peligro);    
  }

.input-01[type=password].advertencia {
    border: 2px solid var(--bg-advertencia);    
  }

.input-01[type=password].ligera {
    border: 2px solid var(--bg-ligera);    
    color: black;
  }

.input-01[type=password].oscura {
    border: 2px solid var(--bg-oscura);    
    color: white;
  }

.input-01[type=password].valida {
    border: 2px solid var(--bg-valida);    
  }







.input-01[type=password].primera.fill {
    border: 2px solid var(--bg-primera);    
    background: var(--bg-primera);
  }

  
.input-01[type=password].peligro.fill {
    border: 2px solid var(--bg-peligro);    
    background: var(--bg-peligro);
  }

.input-01[type=password].advertencia.fill {
    border: 2px solid var(--bg-advertencia);    
    background: var(--bg-advertencia);
  }

.input-01[type=password].ligera.fill {
    border: 2px solid var(--bg-ligera);    
    background: var(--bg-ligera);
    color: black;
  }

.input-01[type=password].oscura.fill {
    border: 2px solid var(--bg-oscura);    
    background: var(--bg-oscura);
    color: white;
  }

.input-01[type=password].valida.fill {
    border: 2px solid var(--bg-valida);    
    background: var(--bg-valida);
  }

