.form-01{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 600px;
    padding: 20px;
    background: grey;
    align-items: center;
    border-radius: 15px;
}



.form-01-title{
    display: flex;
    position: relative;
    font: 2em sans-serif;
}