:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}


.form-01.primera{
    background: var(--bg-primera);
}

.form-01.peligro{
    background: var(--bg-peligro);
}

.form-01.advertencia{
    background: var(--bg-advertencia);
    color: black;
}

.form-01.ligera{
    background: var(--bg-ligera);
    color: black;

}

.form-01.oscura{
    background: var(--bg-oscura);
    color: white;

}

.form-01.valida{
    background: var(--bg-valida);
}
