.buttons-container{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    left: 0;
    background: black;
}
.buttons-container .box-buttons{
    display: flex;
    width: 75%;
    padding: 0px 20px;
    height: 90%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    overflow: hidden;
}
.buttons-container .box-buttons .buttons-list{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0px 20px;
    height: 90%;
    align-items: center;
    justify-content: center;
    right: 0px;
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70px;
    margin: 30px;
    text-align: center;
    right: -25px;
}

.content div{
    position: absolute;
    display: flex;
    top: 0;
    font-size: 60px;
    color: white;
    justify-self: center;
    align-self: center;
    
}

.square{
    position: relative;
    display: flex;
    width: 200px;
    height: 70px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    right: 0;
}

.button-desc{
    color: white;
    position: relative;
    left: 0;
}
.button-desc p {
    position: relative;
    left: 0;
    white-space: nowrap;
}