.test-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: black;
  color: white;
}

.box-img{
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
}

.box-img img {
  width: 50px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.box-img h2 {
  position: relative;
  padding: 20px;
  color: rgb(175, 153, 26);
  font-style: italic;
}