:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}

/* Structure */
.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;

}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttnActive a{
    color: #fff;
    background: black;
}

/* Variants */

.paginationBttns.primera a{
    border: 1px solid var(--bg-primera);
    color: var(--bg-primera);
}

.paginationBttns.peligro a{
    border: 1px solid var(--bg-peligro);
    color: var(--bg-peligro);
}

.paginationBttns.advertencia a{
    border: 1px solid var(--bg-advertencia);
    color: var(--bg-advertencia);
}

.paginationBttns.ligera a{
    border: 1px solid var(--bg-ligera);
    color: var(--bg-ligera);
}

.paginationBttns.oscura a{
    border: 1px solid var(--bg-oscura);
    color: var(--bg-oscura);
}

.paginationBttns.valida a{
    border: 1px solid var(--bg-valida);
    color: var(--bg-valida);
}

/* Hover */

.paginationBttns.primera a:hover{
    background: var(--bg-primera);
    color: white;
}
.paginationBttns.peligro a:hover{
    background: var(--bg-peligro);
    color: white;
}
.paginationBttns.advertencia a:hover{
    background: var(--bg-advertencia);
    color: white;
}
.paginationBttns.ligera a:hover{
    background: var(--bg-ligera);
    color: black;
}
.paginationBttns.oscura a:hover{
    background: var(--bg-oscura);
    color: white;
}
.paginationBttns.valida a:hover{
    background: var(--bg-valida);
    color: white;
}

/* Active */

.paginationBttnActive.primera a{
    background: var(--bg-primera);
    color: white;
}

.paginationBttnActive.peligro a{
    background: var(--bg-peligro);
    color: white;
}
.paginationBttnActive.advertencia a{
    background: var(--bg-advertencia);
    color: white;
}

.paginationBttnActive.ligera a{
    background: var(--bg-ligera);
    color: black;
}
.paginationBttnActive.oscura a{
    background: var(--bg-oscura);
    color: white;
}

.paginationBttnActive.valida a{
    background: var(--bg-valida);
    color: white;
}
