

.paginate-section{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    overflow: hidden;
    background: rgba(100, 100, 111, 0.2);
    align-items: center;
    justify-content: center;
}

.paginate-container{
    display:flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    overflow: hidden;
    background: grey;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    border-radius: 15px;
    z-index: 2;
}


