:root{
    --bg-primera: #005b96;
    --bg-peligro: #DF3B3B;
    --bg-advertencia: #E2C231;
    --bg-ligera: #F9F8F6;
    --bg-oscura: #232322;
    --bg-valida: #2CAD49;
}


.paginate-container.primera{
    
    background: var(--bg-primera);
}



.paginate-container.peligro{
    
    background: var(--bg-peligro);
}
.paginate-container.advertencia{
    
    background: var(--bg-advertencia);
}
.paginate-container.ligera{
    
    background: var(--bg-ligera);
    color: #000;
}
.paginate-container.oscura{
    
    background: var(--bg-oscura);
}
.paginate-container.valida{
    
    background: var(--bg-valida);
}
