.section-avatars{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: black;
    color: white;
}

.avatars-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box-avatars1{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-right: 100px;
}

.title-avatars{
    display: flex;
    position: absolute;
    color: #fff;
    justify-self: center;
    align-self: center;
    top: -100px;
    font-size: 28px;
    width: 600px;
    height: 15%;
    background:black;
    border: 1px solid white;
    align-items: center;
    padding: 10px;
    
}

.title-avatars h2{
    position: relative;
    display: flex;
}


.title-avatars h5{
    position: relative;
    display: flex;
    font-size: 12px;
}




@media screen and (max-width:1400px){
    .avatars-container{
        grid-template-columns: 1fr;
        row-gap: 200px;
    }

    .avatars-container{
        margin-top: 8em;
    }
}